flows/Case_Close-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Case_to_a_List</name>
        <label>Assign Case to a List</label>
        <locationX>61</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>UpdateCaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_to_Close</name>
        <label>Set Case to Close</label>
        <locationX>211</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>caseO.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_to_a_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Case Close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Close-4</label>
    <loops>
        <name>Case_Loop_1</name>
        <label>Case Loop-1</label>
        <locationX>303</locationX>
        <locationY>198</locationY>
        <assignNextValueToReference>caseO</assignNextValueToReference>
        <collectionReference>CaseObjList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Case_to_Close</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Case_Update</name>
        <label>Case Update</label>
        <locationX>510</locationX>
        <locationY>443</locationY>
        <inputReference>UpdateCaseList</inputReference>
    </recordUpdates>
    <startElementReference>Case_Loop_1</startElementReference>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseObjList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseObjs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdateCaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
