flows/Case_Close-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Case_to_Close</name>
        <label>Set Case to Close</label>
        <locationX>424</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>caseObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Case Close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Close</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case_Lookup</name>
        <label>Case Lookup</label>
        <locationX>248</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_to_Close</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Case_Update</name>
        <label>Case Update</label>
        <locationX>640</locationX>
        <locationY>389</locationY>
        <inputReference>caseObj</inputReference>
    </recordUpdates>
    <startElementReference>Case_Lookup</startElementReference>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
